<header class="bg-white border-t-0 border-r-0 border-l-0 border border-gray-100">

    <div class="md:container md:mx-auto flex flex-row p-4">

        <div class="hidden md:flex items-center">
            <a href="/" class="no-underline">
                <span class="sr-only">{{@site.title}}</span>
                {{#if @site.logo}}
                    <img class="w-auto h-5" src="{{@site.logo}}" alt="{{@site.title}}" />
                {{else}}
                    <div class="text-2xl font-bold">{{@site.title}}</div>
                {{/if}}

            </a>
        </div>

        <div class="md:hidden flex items-center">
            <button type="button" class="bt-burger bg-white rounded-md inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500" aria-expanded="false">
            <span class="sr-only">Open menu</span>
            <!-- Heroicon name: outline/menu -->
            <svg class="h-9 w-9" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
            </button>
        </div>

        <div class="flex flex-grow items-center">
            <nav class="bt-head-menu hidden md:flex">
                    {{navigation}}
            </nav>
        </div>

        <div class="flex items-center">
            <div class="flex items-center">
                {{#if @site.facebook}}
                <a class="h-7 w-7" href="{{facebook_url @site.facebook}}" title="Facebook" target="_blank" rel="noopener">{{> "icons/facebook"}}</a>
                {{/if}}
                {{#if @site.twitter}}
                <a class="h-7 w-7 ml-4" href="{{twitter_url @site.twitter}}" title="Twitter" target="_blank" rel="noopener">{{> "icons/twitter"}}</a>
                {{/if}}
                <a class="h-7 w-7 ml-4" href="https://feedly.com/i/subscription/feed/{{@site.url}}/rss/" title="RSS" target="_blank" rel="noopener">{{> "icons/rss"}}</a>
            </div>
        </div>


    </div>

    <div id="bt-mobile-menu" class="hidden md:hidden">
        <div>
            {{navigation}}
        </div>
    </div>
        
</header>