<header class="border-t-0 border-r-0 border-l-0 border border-gray-100">

    <div class="max-w-6xl mx-auto px-4">

        <div class="flex justify-between">

        
            <div class="flex space-x-4">
                <!-- logo -->
                <div>
                    <a href="/" class="flex items-center py-5 px-2 no-underline">
                        <span class="sr-only">{{@site.title}}</span>
                        {{#if @site.logo}}
                            <img class="w-auto h-5" src="{{@site.logo}}" alt="{{@site.title}}" />
                        {{else}}
                            <div class="text-2xl font-bold">{{@site.title}}</div>
                        {{/if}}

                    </a>
                </div>

                <!-- primary nav -->
                <div class="hidden md:flex items-center space-x-1">
                    <nav class="bt-head-menu hidden md:flex">
                        {{navigation}}
                    </nav>
                </div>
            </div>

            <!-- secondary nav -->
            <div class="hidden md:flex items-center space-x-2">
        
                {{#if @site.facebook}}
                <a class="h-7 w-7" href="{{facebook_url @site.facebook}}" title="Facebook" target="_blank" rel="noopener">{{> "icons/facebook"}}</a>
                {{/if}}
                {{#if @site.twitter}}
                <a class="h-7 w-7" href="{{twitter_url @site.twitter}}" title="Twitter" target="_blank" rel="noopener">{{> "icons/twitter"}}</a>
                {{/if}}
                <a class="h-7 w-7" href="https://feedly.com/i/subscription/feed/{{@site.url}}/rss/" title="RSS" target="_blank" rel="noopener">{{> "icons/rss"}}</a>
        
            </div>

            <!-- mobile button goes here -->
            <div class="md:hidden flex items-center">
                <button class="bt-burger">
                <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                </svg>
                </button>
            </div>

            </div>
        </div>

        <!-- mobile menu -->
        <div id="bt-mobile-menu" class="hidden md:hidden">
            {{navigation}}

                       <!-- secondary nav -->
            <div class="flex items-center space-x-2 justify-center py-8">
        
                {{#if @site.facebook}}
                <a class="h-7 w-7" href="{{facebook_url @site.facebook}}" title="Facebook" target="_blank" rel="noopener">{{> "icons/facebook"}}</a>
                {{/if}}
                {{#if @site.twitter}}
                <a class="h-7 w-7" href="{{twitter_url @site.twitter}}" title="Twitter" target="_blank" rel="noopener">{{> "icons/twitter"}}</a>
                {{/if}}
                <a class="h-7 w-7" href="https://feedly.com/i/subscription/feed/{{@site.url}}/rss/" title="RSS" target="_blank" rel="noopener">{{> "icons/rss"}}</a>
        
            </div>
        </div>
        
</header>