{{!< default}}

<div class="container mx-auto p-4">

    <div class="flex flex-col items-center">

        {{#author}}
        <header class="flex flex-col items-center py-4 ">
            {{#if profile_image}}
                <img class="h-20 w-20 rounded-full mx-auto" src="{{profile_image}}" alt="{{name}}" />
            {{/if}}

            <h1 class="text-4xl font-bold text-center py-2">{{name}}</h1>

            {{#if bio}}
                <p class="text-gray-500">{{bio}}</p>
            {{/if}}

            <div class="bt-author-meta">
                <div class="bt-author-links">
                    {{#if website}}
                        <a href="{{website}}" target="_blank" rel="noopener">Website</a>
                    {{/if}}
                    {{#if twitter}}
                        <a href="{{twitter_url}}" target="_blank" rel="noopener">Twitter</a>
                    {{/if}}
                    {{#if facebook}}
                        <a href="{{facebook_url}}" target="_blank" rel="noopener">Facebook</a>
                    {{/if}}
                </div>
            </div>

            {{#if cover_image}}
                <img src="{{cover_image}}" alt="{{name}}" />
            {{/if}}
        </header>
        {{/author}}

        <div class="bt-postfeed">
        {{#foreach posts}}

            {{> "card"}} {{!-- partials/card.hbs --}}

        {{/foreach}}
        </div>

    </div>
</div>
