{{!< default}}

{{#post}}
<article class="{{post_class}}">

    <header>
        <h1>{{title}}</h1>

        {{#if custom_excerpt}}
            <p>{{custom_excerpt}}</p>
        {{/if}}

        {{#if feature_image}}
            <img src="{{feature_image}}" alt="{{title}}" />
        {{/if}}
    </header>

    <div>
        {{content}}
    </div>

</article>
{{/post}}
