{{!< default}}

<div class="container mx-auto p-4">

    <div class="flex flex-col items-center">

    {{#post}}
    <article class="{{post_class}} w-full sm:max-w-5xl py-4">

        <header class="text-center">
            <h1 class="text-3xl font-bold py-4">{{title}}</h1>

            {{#if custom_excerpt}}
                <p class="bt-content py-2">{{custom_excerpt}}</p>
            {{/if}}

            {{#if feature_image}}
                <img src="{{feature_image}}" alt="{{title}}" />
            {{/if}}
        </header>

        <div>
            {{content}}
        </div>

    </article>
    {{/post}}

    </div>
</div>

